/* .cart-icon {
  font-size: 25px;
  transition: transform 0.1s;
}

.cart-icon:hover {
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-4px);
  }

  50% {
    transform: translateX(4px);
  }

  75% {
    transform: translateX(-4px);
  }

  100% {
    transform: translateX(0);
  }
} */
.logo {
  filter: none;
}

.dark .logo {
  filter: brightness(0) invert(1);
}